<h1><%= @post.title %></h1>
<p class = "show-content"><strong><%= @post.content%></strong></p>
<div class="edit-link">
  <%= link_to "Edit Post", edit_post_path(@post)%>
</div>

<div class="button">
  <%= button_to "Delete Post", posts_delete_path(@post), method: :delete, class: "btn btn-outline-secondary" %>
</div>